.skills {
    padding: 130px 10px 0 11px;

    &__title {
        @include section_header_title;
    }

    &__subtitle {
        @include section_header_subtitle;
    }

    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2,minmax(270px,auto));
        gap: 13px;
        grid-auto-rows: 1fr;
    }

    &__item {
        border: 1px solid #000000;
        padding: 30px 29px 25px 30px;
        position: relative;

        &-img {
            height: 65px;
            display: flex;
            align-items: center;
        }

        &-title {
            margin-top: 20px;
        }

        &-text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}